<nav class="navbar navbar-doublerow navbar-trans navbar-fixed-top">
  <!-- top nav -->
  <nav class="navbar navbar-top hidden-xs">
    <div class="container">
      <!-- left nav top -->
      <ul class="nav navbar-nav pull-left">
        <li><a href="#"><span class="glyphicon glyphicon-thumbs-up text-white"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-globe text-white"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-pushpin text-white"></span></a></li>
        <li><a href="#"><span class="text-white">QUESTIONS? CALL: <b>+963000000000</b></span></a></li>
      </ul>
      <!-- right nav top -->
      <ul class="nav navbar-nav pull-right">
        <li><a href="#" class="text-white">About Us</a></li>
        <li><a href="#" class="text-white">Contact Us</a></li>
      </ul>
    </div>
    <div class="dividline light-grey"></div>
  </nav>
  <!-- down nav -->
  <nav class="navbar navbar-down">
    <div class="container">
      <div class="flex-container">
        <div class="navbar-header flex-item">
          <div class="navbar-brand" href="#"><%= image_tag "tsavo.png", :style => "max-width:130px"%></div>
        </div>
        <ul class="nav navbar-nav flex-item hidden-xs">
          <li><a href="#">Projects</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">TheTeam</a></li>
        </ul>
        <ul class="nav navbar-nav flex-item hidden-xs pull-right">
          <li><a href="#" class="">offer!</a></li>
        </ul>
        <!-- dropdown only moblie -->
          <div class="dropdown visible-xs pull-right">
            <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
              <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Projects</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">TheTeam</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </nav>
<!--bg img  -->
<header class="images">
  <%= image_tag "coralbells.png", :style => "width:100%; @media screen and (max-width: 800px) {.images{background-size:cover;}}"%>
</header>

<article>
  <div class="item-wrapper">
    <figure>
      <div class="image" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLR0dpLWJDU3lMc28);"></div>
      <div class="lighting"></div>
    </figure>
    <div class="item-content">
      <h1>First Article Title</h1>
      <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit</p>
      <div class="author">Jordan Quinn</div>
    </div>
  </div>
</article>
<article>
  <div class="item-wrapper">
    <figure>
      <div class="image" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRmNpcE93R2YtcEE);"></div>
      <div class="lighting"></div>
    </figure>
    <div class="item-content">
      <h1>Second Article Title</h1>
      <p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu</p>
      <div class="author">Edna Hardy</div>
    </div>
  </div>
</article>
<article>
  <div class="item-wrapper">
    <figure>
      <div class="image" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTl4V183QkdOZG8);"></div>
      <div class="lighting"></div>
  </figure>
    <div class="item-content">
      <h1>Third Article Title</h1>
      <p>In enim justo rhoncus ut imperdiet a venenatis vitae justo</p>
      <div class="author">Kayla	Beck</div>
    </div>
  </div>
</article>
<script>
    var articles = $('article > .item-wrapper'),
    lightingRgb = '255,255,255';

articles.mousemove(function(e) {
  var current = $(this),
      x = current.width() - e.offsetX * 2,
      y = current.height() - e.offsetY * 2,
      rx = -x / 30,
      ry = y / 24,
      deg = Math.atan2(y, x) * (180 / Math.PI) + 45;
  current.css({"transform":"scale(1.05) rotateY("+rx+"deg) rotateX("+ry+"deg)"});
  $('figure > .lighting',this).css('background','linear-gradient('+deg+'deg, rgba('+lightingRgb+',0.32) 0%, rgba('+lightingRgb+',0) 100%)');
});

articles.on({
  'mouseenter':function() {
    var current = $(this);
    current.addClass('enter ease').removeClass("leave");
    setTimeout(function(){
      current.removeClass('ease');
    }, 280);
  },
  'mouseleave':function() {
    var current = $(this);
    current.css({"transform":"rotate(0)"});
    current.removeClass('enter').addClass("leave");
    $('figure > .lighting',this).removeAttr('style');
  }}
);
</script>
<script type="text/javascript">
// toggle class scroll
$(window).scroll(function() {
  if($(this).scrollTop() > 50)
  {
      $('.navbar-trans').addClass('afterscroll');
  } else
  {
      $('.navbar-trans').removeClass('afterscroll');
  }

});

// demo only
// open link in new tab without ugly target="_blank"
$("a[href^='http']").attr("target", "_blank");

</script>
