/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*scroll effect*/
 .navbar-trans {
   background-color: transparent;
   border: none;
   transition: top 1s ease;
 }

 /*double row*/
 .navbar-doublerow > .navbar{
 	display: block;
 	padding: 0px auto;
 	margin: 0px auto;
 	min-height: 25px;
 }
 .navbar-doublerow .nav{
 	padding: 0px auto;
 }
 .navbar-doublerow .dividline{
   margin: 5px 100px;
   padding-top: 1px;
   background-color: inherit;
 }
 /*top nav*/
 .navbar-doublerow .navbar-top ul>li>a {
 	padding: 10px auto;
 	font-size: 12px;
 }
 /*down nav*/
 .navbar-doublerow .navbar-down .navbar-brand {
 	padding: 0px auto;
 	float: left;
 	color: #fff;
 	font-size: 32px;
 }
 .navbar-doublerow .navbar-down ul>li>a{
 	font-size: 16px;
 	color: #fff;
 	transition: border-bottom .2s ease-in , transform .2s ease-in-out;
 }
 .navbar-doublerow .navbar-down ul>li>a:hover{
 	border-bottom: 1px solid #fff;
 	color: #fff;
 }
 .navbar-doublerow .navbar-down .dropdown{
     padding: 5px;
     color: #000;
 }
 .navbar-doublerow .navbar-down .dropdown ul>li>a,
 .navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
   color: #000;
   border-bottom: none;
 }
 .navbar-doublerow.navbar-trans.afterscroll {
 }
 .navbar-doublerow.navbar-trans.afterscroll {
    top:-50px;
 }

 .flex-container {
     display: flex;
     justify-content: space-between;
 }
 .flex-item {
 }
 /*text*/
 .text-white,.text-white-hover:hover{color:#fff!important}
 /*fontcolor*/
 .light-grey {color:#000!important;background-color:#E6E9ED!important}



/* styling for 3d cards */
@import url(//fonts.googleapis.com/css?family=Lato:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
  background-color: #f1f1f1;
  color: #464646;
  text-align: center;
  margin: 0 auto;
}
body a, body a:visited {
  color: #555;
  text-decoration: none;
}
body a:hover {
  color: #444;
}

article figure::after, article figure .image, article figure .lighting, article .item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article .item-wrapper, article .item-content {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

article .item-wrapper, article figure, article .item-content {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

article {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(33.33% - 4%);
  height: 24vw;
  margin: 1.8%;
  -webkit-perspective: 1600px;
          perspective: 1600px;
  cursor: pointer;
}
article .item-wrapper {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
article .item-wrapper::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  box-shadow: 0 8px 38px rgba(0, 0, 0, 0.86);
}
article .item-wrapper:hover::before {
  box-shadow: 0 14px 64px rgba(0, 0, 0, 0.92);
}
article .item-wrapper.enter.ease, article .item-wrapper.leave {
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
article figure {
  width: 100%;
  height: 100%;
}
article figure::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.06);
}
article figure .image {
  background-position: center;
  background-size: cover;
}
article figure .lighting {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
}
article .item-content {
  pointer-events: none;
  padding: 20% 20px 20px;
  color: #fff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.76);
}
article .item-content h1 {
  margin-bottom: 5%;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}
article .item-content p {
  font-size: 13px;
  margin-bottom: 5%;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}
article .item-content .author {
  -webkit-transform: translateZ(70px);
          transform: translateZ(70px);
}

@media (max-width: 860px) {
  article {
    width: calc(50vw - 3.9vw);
    height: 38vw;
  }
}
@media (max-width: 667px) {
  article {
    width: calc(100vw - 3.9vw);
    height: 60vw;
  }
}
